/*Header*/
.contenedor-header {
    max-width: 1400px;
    width: 100%;
    margin: auto; 
}

.color-fondo{
    background-color: $background;
    border-bottom: 1px solid white;
}

.logo-nav{
    color: $primary-color;
}

header {
	position: fixed;
	top: 0;
	z-index: 100;
	font-weight: 500;
	font-size: 1.1rem;
	width: 100%;
	.navbar {
		padding: 0px 20px 0px 20px;
		.navbar-nav {
			gap: 25px;
			.nav-link {
				color: white;
				&:hover {
					color: $primary-color;
					transition: 0.7s;
				}
			}
		}
		.navbar-toggler {
			border-color: transparent;
			&:checked {
				border-color: $primary-color;
			}
			&:focus {
				box-shadow: 0 0 0 0.0rem;
			}
		}
	}
}
.container-fluid {
	padding: .4em 0;
}


@media screen and (min-width:1200px){
    /*nav-container*/
    .logo-menu{
        font-size: 30px;
        line-height: 65px;
    }
    .nav-container-menu a{
        font-size: 20px;
        line-height: 65px;
    }
}